<table border="1" style="border-collapse: collapse; width: 100%;">
  <tr>
    <th>Owner</th>
    <th>Location</th>
    <th>Case</th>
    <th>SKU</th>
    <th>Quantity</th>
    <th>UOM</th>
    <th>ASN Number</th>
    <th>Line Number</th>
  </tr>
  {% for item in items %}
  <tr>
    <td>{{ item.owner }}</td>
    <td>{{ item.location }}</td>
    <td>{{ item.case }}</td>
    <td>{{ item.sku }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.uom }}</td>
    <td>{{ item.asn_number }}</td>
    <td>{{ item.line_number }}</td>
  </tr>
  {% endfor %}
</table>