<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Inventory Capture</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'image/S3 main logopreview.png' %}">
  <link rel="stylesheet" href="{% static 'css/Inventory.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>

  <header>
    <img src="{% static 'image/skandh logo.png' %}" style="
        display: inline-block;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
      
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1000;
      /* Responsive tweak (optional for very small screens) */
      @media (max-width: 600px) {
        .logout-button {
          padding: 6px 12px;
          font-size: 0.9rem;
          top: 10px;
          right: 10px;
        }}" alt="Company logo" class="logo">
    <img src="{% static 'image/th.jpg' %}" style="
    display: inline-block;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  @media (max-width: 600px) {
    .logout-button {
      padding: 6px 12px;
      font-size: 0.9rem;
      top: 10px;
      right: 10px;
    }}" alt="Company logo" class="logo">
  </header>
  <div class="container">

    <h2>Inventory Capture</h2>


    <form action="" method="POST" id="inventoryForm">
      {% csrf_token %}
      <div class="input-row">
        <label for="location">Location:</label>
        <input type="text" name="location" autocomplete="off" placeholder="Enter the Location" required>
      </div>
      <div class="input-row">
        <label for="SKU">SKU:</label>
        <input type="text" name="sku" autocomplete="off" placeholder="Enter the SKU" required>
      </div>
      <div class="input-row">
        <label for="case">Case:</label>
        <input type="text" name="case" autocomplete="off" placeholder="Enter the Case">
      </div>
      <div class="input-row">
        <label for="quantity">Quantity:</label>
        <input type="text" name="quantity" autocomplete="off" placeholder="Enter the Quantity" required>
      </div>
      <div class="input-row">
        <label for="uom">UOM:</label>
        <input type="text" name="uom" autocomplete="off" placeholder="Enter the UOM" required>
      </div>
      <input type="submit" class="btn">
    </form>
    <a href="{% url 'owner' %}" class="exit-button" title="Escape">
      <button class="esc-button">ESC</button>
    </a>

  </div>


  <script>
    document.addEventListener('keydown', function (event) {
      if (event.key === "Escape") {
        window.location.href = "{% url 'owner' %}";
      }
    });
    setTimeout(function () {
      const messages = document.querySelectorAll(".fade-message");
      messages.forEach(function (msg) {
        msg.style.display = "none";
      });
    }, 3000);
  </script>
</body>

</html>