<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'image/S3 main logopreview.png' %}">

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <header style="background-color: #f4f6f8;">
    <img src="{% static 'image/skandh logo.png' %}" alt="Company logo" class="logo-top-left">

    <img src="{% static 'image/th.jpg' %}" alt="Company logo" class="logo-top-right">

  </header>
  <div class="container">
    <h2>Login</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="input-row"><label>Username:</label><input type="text" name="username" autocomplete="off" required>
      </div>
      <div class="input-row"><label>Password:</label><input type="password" name="password" required></div>
      <button type="submit" class="login-button">Login</button>
    </form>
    <!--<p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p> -->
    <!-- Flash Messages -->
    {% if messages %}
    {% for message in messages %}
    <p class="message-{{ message.tags }} fade-message">{{ message }}</p>
    {% endfor %}
    {% endif%}
  </div>
  <script>
    document.addEventListener('keydown', function (event) {
      if (event.key === "Escape") {
        window.location.href = "{% url 'owner' %}";
      }
    });

    setTimeout(function () {
      const messages = document.querySelectorAll(".fade-message");
      messages.forEach(function (msg) {
        msg.style.display = "none";
      });
    }, 3000);
  </script>
</body>

</html>